<h1>Listing actuals</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Year</th>
    <th>Month</th>
    <th>Item</th>
    <th>Belong</th>
  </tr>

<% @actuals.each do |actual| %>
  <tr>
    <td><%=h actual.value %></td>
    <td><%=h actual.year %></td>
    <td><%=h actual.month %></td>
    <td><%=h actual.item_id %></td>
    <td><%=h actual.belong_id %></td>
    <td><%= link_to 'Show', actual %></td>
    <td><%= link_to 'Edit', edit_actual_path(actual) %></td>
    <td><%= link_to 'Destroy', actual, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New actual', new_actual_path %>