<p>
  <b>Value:</b>
  <%=h @actual.value %>
</p>

<p>
  <b>Year:</b>
  <%=h @actual.year %>
</p>

<p>
  <b>Month:</b>
  <%=h @actual.month %>
</p>

<p>
  <b>Item:</b>
  <%=h @actual.item_id %>
</p>

<p>
  <b>Belong:</b>
  <%=h @actual.belong_id %>
</p>


<%= link_to 'Edit', edit_actual_path(@actual) %> |
<%= link_to I18n.t('link.back'), actuals_path %>
