<h1><%=t 'heading.editing' %> <%=t 'divisions_items' %></h1>

<% form_for(@divisions_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :division_id %><br />
    <%= f.text_field :division_id %>
  </p>
  <p>
    <%= f.submit I18n.t('submit.update') %>
  </p>
<% end %>

<%= link_to t('link.show'), @divisions_item %> |
<%= link_to I18n.t('link.back'), divisions_items_path %>
